*
{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Helvetica;
}

body{
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 3000px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
}

.name{
    color: black;
    float: left;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}


.hoover li a{
    text-decoration: none;
    color: white;
    list-style: none;
}

.nav-menu{
    color: black;
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 10%;
    margin-left:10%;
    display: flex;
}

.nav-menu li{
    display: inline-block;
}

.nav-menu li a{
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 20px;
}

.nav-menu :hover{
    color: tomato;
    text-decoration: none;
    list-style: none;
}

.main{
    text-align: center;
    color: black;
    background-color: yellow;
    border: 10px 20px;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
    
}


