body, html {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: sans-serif;
    color: whitesmoke;
}

.Container {
    width: 90%;
    min-width: 500px;
    min-height: 500px;
    margin: auto;
    text-align: center;
}

.img img {
        text-align: center;        
        width: 150px;
        height: 150px;
        margin-top: 5%;
        margin-bottom: 1%;
    }
.user{
    text-align: center;
    width: auto;
    height: 95%;

}